@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg-light: #ffffff;
    --bg-dark: #121212;
    --text-primary-light: #000000;
    --text-primary-dark: #ffffff;
}


@layer base {
    html {
        font-family: "Work Sans", sans-serif;
    }
    
    .btn {
        @apply px-4 py-2 text-white rounded-md shadow-sm shadow-black hover:rotate-2 hover:scale-105 transition duration-300 ease-in-out;
    }

    
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}